body,
html {
    height: 100%;
    margin: 0px;
}

a {
    text-decoration: none;
}
.panel {
    background-color: rgb(71, 71, 71);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.hour-div {
    position: absolute;
    background-color: transparent;
    top: 20%;
    border-top: 3px solid;
    border-bottom: 3px solid;
    height: 70%;
    width: 50%;
    left: 25%;
    font-size: 30px;
    color: rgb(114, 135, 253);
    overflow-x: auto;
}

.active {
    background-color: rgb(216, 162, 101);
    border-radius: 0px 0px 0px 20px;
}

.active:hover {
    background-color: rgb(253, 170, 170);
}

.label {
    font-size: 22px;
}

.select {
    background-color: rgb(11, 176, 201);
}

.btn-select {
    position: relative;
    width: 100%;
    background-color: rgb(114, 135, 253);
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    color: rgb(255, 255, 255);
}
table {
    width: 100%;
    position: absolute;
}

.hour-btn {
    background-color: rgb(49, 209, 0);
    color: rgb(255, 250, 250);
    font-size: 20px;
    padding: 2px 5px;
    border: 2px solid rgb(14, 85, 0);
    border-radius: 10px;
    margin: 0px;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
    text-align: center;
}
#hour-table {
    position: relative;
    width: 100%;
}

.day {
    padding-top: 20px;
    padding-bottom: 20px;
}

.back {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.next {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fixed-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    border: 3px solid rgb(172, 173, 148);
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    background-color: rgb(171, 173, 148);
}

.table-bar {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100%;
}

.th-bar {
    width: 25%;
    height: 100%;
}

.th-bar:hover {
    background-color: rgb(185, 120, 120);
}

.icon-bar {
    position: relative;
    height: 40px;
    width: 40px;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}

.voice-menu {
    color: rgb(71, 71, 71);
    position: relative;
    right: 0px;
    top: 0px;
    display: block;
    padding: 2px;
}

/** for tablet **/

@media only screen and (max-width: 768px) {
    .panel {
        height: 100%;
    }

    .hour-div {
        font-size: 15px;
        left: 10%;
        width: 80%;
        height: 50%;
    }

    th,
    td {
        padding-top: 3px;
        padding-left: 2px;
    }

    .hour-btn {
        font-size: 15px;
    }

    .fixed-bar {
        background-color: rgb(114, 135, 253);
        height: 70px;
    }

    .voice-menu {
        display: none;
    }
    .icon-bar {
        position: relative;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }
}
/** for smartphone**/
@media only screen and (max-width: 425px) {
    .panel {
        height: 100%;
    }

    .hour-div {
        font-size: 15px;
        left: 0px;
        width: 100%;
        height: 50%;
    }

    th,
    td {
        padding-top: 3px;
        padding-left: 2px;
    }

    .hour-btn {
        font-size: 15px;
    }

    .fixed-bar {
        background-color: rgb(114, 135, 253);
        height: 70px;
    }

    .voice-menu {
        display: none;
    }
    .icon-bar {
        position: relative;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }
}
